@import 'bottom.css';
@import 'screen.css';
@import 'mid.css';
@import 'top.css';
@import 'toptext.css';
@import 'calculatorPosition.css';


body{
    display: flex;
    min-height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.calculator{
    border: 10px solid black;
    outline: 1px solid white;
    outline-offset: -2.5px;
    height: 615px;
    width: 295px;
    border-radius: 40px 45px 45px 45px;
    background-color: rgb(41, 41, 41);
}

.calculator button{
    color: white;
}

