.screen{
    /* background-color: rgb(209, 219, 219); */
    background-color: rgb(154, 161, 161);
    width: 92%;
    height: 20%;
    margin: 10px;
    outline: 1px solid black;
    outline-offset: -2px;
}

.display-screen{
    background-color: rgb(134, 143, 143);
    position: relative;
    right: -5.5px;
    bottom: -7px;
    width: 96%;
    height: 80%;
    font-weight: 900;
}

#shift-mode-screen{
    background-color: rgb(154, 161, 161);
    /* outline: 1px solid rgb(209, 219, 219); */
    /* outline-offset: -10px; */
    position: relative;
    bottom: -3px;
    right: -3.2px;
    height: 10px;
    width: 97%;
    color: rgb(1, 1, 61);
    display: flex;
    font-size: 8.2px;
}

.ans-screen-section{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* border: 1px solid black; */
}

.ans-screen{
    align-self: flex-start;
    /* border: 1px solid black; */
    margin-right: 1px;
}

.screen-section{
    min-height: 33%;
    font-size: 25px;
}

.has-border{
    border: 1px solid rgb(0, 0, 34);
    font-size: 6px;
    background-color: rgb(0, 0, 34);
    color: rgb(154, 161, 161);
    /* margin: 0.5px; */
    position: relative;
    top: -1.3px;
}